# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/
bin/
include/
Include/
Lib/
Scripts/
pyvenv.cfg
lib/
site-packages/
path/

# Node
node_modules/
package-lock.json
package.json

# Local database files
*.db
*.db-*
*.sqlite3
website/*.db
website/*.db.*
website/database.db

# env & secrets
.env
.env.*

# OS/editor junk
.DS_Store
*.swp

# Misc
instance/
*.egg-info/
dist/
build/